{% extends "proposals/base.html" %}

{% block styles -%}{{ super() }}
    <style>
.canvas {
}
.origin-parties {
  shape-rendering: crispEdges;
}
rect {
    fill: #333333;
    stroke: #111111;
}


    </style>

{%- endblock %}


{% block content %}
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
    <svg id="proposals-main" class='canvas' viewBox='0 0 940 440' preserveAspectRatio="xMinYMin meet"/>        
    </div>
</div> 
{% endblock %}

{% block scripts %}{{ super() }}
    <script type="text/javascript">

testdata = {
  nodes: [
    {
      layer: 0,
      x: 0,
      items: [
        {
          title: 'Partiernas motioner',
          items: [
            {
              title: 'V'
            },
            {
              title: 'S'
            },
            {
              title: 'M'
            },
            {
              title: 'FP'
            }
          ]
        },
        {
          title: 'Samsignerade motioner',
          items: [
            {
              title: 'V och S'
            },
            {
              title: 'M och FP'
            }
          ]
        },
        {
          title: 'Regeringens propositioner',
          items: [
            {
              title: 'UD'
            },
            {
              title: "FD"
            }
          ]
        }
      ]
    },
    {
      layer: 1,
      x: 0.5,
      items: [
        {
          title: 'Utskotten',
          items: [
            {
              title: 'UU'
            },
            {
              title: 'FiU'
            },
            {
              title: 'FöU'
            }
          ]
        }
      ]
    },
    {
      layer: 2,
      x: 1.0,
      items: [
        {
          title: 'Besluten',
          items: [
            {
              title: 'Bifall'
            },
            {
              title: 'Avslag'
            }
          ]
        }
      ]
    }
  ], //nodes

  flows: [
    {
      path: [[0,0,0],[1,0,0],[2,0,0]],
      magnitude: 5
    },
    {
      path: [[0,0,0],[1,0,0],[2,0,1]],
      magnitude: 10
    }, 
    {
      path: [[0,0,0],[1,0,1],[2,0,0]],
      magnitude: 7
    },
    {
      path: [[0,0,0],[1,0,1],[2,0,1]],
      magnitude: 12
    },  
    {
      path: [[0,0,0],[1,0,2],[2,0,0]],
      magnitude: 2
    },
    {
      path: [[0,0,0],[1,0,2],[2,0,1]],
      magnitude: 9
    }         
  ] // flows
};

proposals_main = function() {

    var parent = {};

    var width;

    function sankey(_parent){
        
        parent = _parent;
        sankey._compute_sizes();

        var node_layers = parent.selectAll(".node-layers")
                              .data(function(d){return d.nodes;});
        node_layers.enter()
                    .append("g").classed("node-layer",true)
                    .attr("transform", function(d){return "translate("+width*d.x+",0)";});

        var node_groups = node_layers.selectAll(".node-group")
                                      .data(function(d){return d.items;});
        node_groups.enter()
                    .append("g").classed("node-group", true);

        var nodes = node_groups.selectAll(".node")
                            .data(function(d){return d.items;});
        nodes.enter()
              .append("g").classed("node", true);

        nodes.append("rect")
              .attr("width",40)
              .attr("height",40);

    };
  
    sankey._compute_sizes = function() {

      nodes = parent.data()[0].nodes;
      flows = parent.data()[0].flows;

      flows.forEach(function(flow){
        flow.path.forEach(function(p) {
          layer = nodes[p[0]];
          node_group = layer.items[p[1]];
          node = node_group.items[p[2]];
          layer.size = layer.size + flow.magnitude || flow.magnitude;
          node_group.size = node_group.size + flow.magnitude || flow.magnitude;
          node.size = node.size + flow.magnitude || flow.magnitude;
        });
      });
    };

    sankey.width = function(_) {
      if (!arguments.length) return width;
      else width = +_;
      return sankey;
    }

    return sankey;
};

$(d3.select("#proposals-main").datum(testdata).call(
  proposals_main()
    .width(400)
  )); 

    </script>
{%- endblock %}