*.db
Lib/
lib/
Scripts/
scripts/
Include/
include/
build/
bin/
local/
app/www/ghostdriver.log

#python c files
*.pyc


# setup.py things
*.egg-info
*.egg
*.zip

# Vagrant stuff
.vagrant/

#autosave
*~

# Data
data/
*.sql
!app/riksdagen_sql/create_tables.sql
