*.db
Lib/
lib/
Scripts/
scripts/
Include/
include/
build/
bin/
local/
app/www/ghostdriver.log

#cache
demokratikollen/www/cache

#python c files
*.pyc


# setup.py things
*.egg-info
*.egg
*.zip

# Vagrant stuff
.vagrant/

#autosave
*~

# Data
data/
demokratikollen/data/*
*.sql
!demokratikollen/data/create_tables.sql
!demokratikollen/data/urls.txt


#compass
demokratikollen/demokratikollen-compass/fonts/bootstrap*
demokratikollen/demokratikollen-compass/javascripts/bootstrap*
demokratikollen/demokratikollen-compass/stylesheets