*.db
Lib/
lib/
Scripts/
scripts/
Include/
include/
build/
bin/
local/
ghostdriver.log
**/npm-debug.log

#cache
demokratikollen/www/cache

#python c files
*.pyc


# setup.py things
*.egg-info
*.egg
*.zip

# Vagrant stuff
.vagrant/

#autosave
*~

# Data
demokratikollen/data/*
!demokratikollen/data/other
demokratikollen/data/other/*
!demokratikollen/data/other/elections.json.gz
!demokratikollen/data/create_tables.sql
!demokratikollen/data/urls.txt

!demokratikollen/data/dumps
demokratikollen/data/dumps/*
!demokratikollen/data/dumps/postgres_dump.sql.gz
!demokratikollen/data/dumps/mongodb_dump.tar.gz

*.sql

# design stuff
demokratikollen/www/design/bower_components
demokratikollen/www/design/node_modules
*.*.map
demokratikollen/www/app/static/css/images/
demokratikollen/www/design/**/*.log
**/.sass-cache/

# inventory files.
inventory

# idea
.idea