  <style type="text/css">
    .nvtooltip {
      font-size: 9pt;
    }

    .nvtooltip h3 {
      font-size: 9pt;
      font-weight: bold;
    }
  </style>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading" id="mpanel_title">
            <h3 class="panel-title">{{ member.first_name }} {{ member.last_name }}</h3>
          </div>
          <div class="panel-body">
            <img src="{{ member.image_url_md|safe }}" style="max-width: 75%; margin-bottom: 0.5cm" class="img-thumbnail"/></br>
            <b>Parti:</b> {{ member.party.name }} </br>
            <b>Född:</b> {{ member.birth_year }} </br>
            <b>Kön:</b> {{ member.gender|capitalize }}
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-10 col-xs-12">
        <div id="chart" style="position:static; wdith: 100%;"><svg /></div>
      </div>
    </div>

  <script type="text/javascript">
    var cw = $('#chart').width();
    $('#chart').css({'height': 0.5*cw+'px'});

    d3.json("/members/{{ member.id }}/absence.json",function(error,data) {
      var nvd3_data = data.d;
      var month = ["Jan", "Feb", "Mars", "Apr", "Maj", "Juni",
                    "Juli", "Aug", "Sep", "Okt", "Nov", "Dec"];

      nv.addGraph(function() {
          var chart = nv.models.multiBarChart()
            .margin({bottom: 70})
            .transitionDuration(200)
            .rotateLabels(-45)      //Angle to rotate x-axis labels.
            .groupSpacing(0.2)    //Distance between each group of bars.
            .showControls(false)
            .reduceXTicks(false)
            .x(function(d,i) {
              return new Date(d.x*1000);
            })
            .tooltipContent(function(key, x, y, e, graph) {
              return '<h3>' + key + '</h3>' +
                     '<p>' +  y + ' i ' + x.toLowerCase() + '</p>'
            })
            .noData("Ingen röstningsdata för {{ member.first_name }} {{ member.last_name }}")
          ;

          // chart.xAxis.tickValues(nvd3_data[0].values.map( function(d){ console.log(d);return new Date(d.x*1000); } ) );
          chart.xAxis
              .tickFormat(function(d) {
                return month[d.getMonth()]+' '+d3.time.format('%Y')(d);
              });

          chart.yAxis
              .tickFormat(d3.format(',f'));

          d3.select('#chart svg')
              .datum(nvd3_data)
              .call(chart);

          nv.utils.windowResize(chart.update);

          return chart;
      });
    });

  </script>