$greyish-0: hsla(39, 13%, 3%, 1);
$greyish-1: hsla(39, 11%, 9%, 1);
$greyish-2: hsla(39, 8%, 15%, 1);
$greyish-3: hsla(39, 5%, 22%, 1);
$greyish-4: hsla(39, 5%, 30%, 1);
$greyish-5: hsla(39, 5%, 47%, 1);
$greyish-6: hsla(39, 5%, 55%, 1);
$greyish-7: hsla(39, 9%, 64%, 1);
$greyish-8: hsla(39, 12%, 92%, 1);
$greyish-9: hsla(39, 14%, 97%, 1);

$brownish-0: hsla(39, 70%, 3%, 1);
$brownish-1: hsla(39, 50%, 9%, 1);
$brownish-2: hsla(39, 30%, 15%, 1);
$brownish-3: hsla(39, 20%, 22%, 1);
$brownish-4: hsla(39, 20%, 30%, 1);
$brownish-5: hsla(39, 20%, 47%, 1);
$brownish-6: hsla(39, 20%, 55%, 1);
$brownish-7: hsla(39, 25%, 64%, 1);
$brownish-8: hsla(39, 30%, 92%, 1);
$brownish-9: hsla(39, 40%, 97%, 1);


.greyish-0 { background-color: $greyish-0; }
.greyish-1 { background-color: $greyish-1; }
.greyish-2 { background-color: $greyish-2; }
.greyish-3 { background-color: $greyish-3; }
.greyish-4 { background-color: $greyish-4; }
.greyish-5 { background-color: $greyish-5; }
.greyish-6 { background-color: $greyish-6; }
.greyish-7 { background-color: $greyish-7; }
.greyish-8 { background-color: $greyish-8; }
.greyish-9 { background-color: $greyish-9; }

.brownish-0 { background-color: $brownish-0; }
.brownish-1 { background-color: $brownish-1; }
.brownish-2 { background-color: $brownish-2; }
.brownish-3 { background-color: $brownish-3; }
.brownish-4 { background-color: $brownish-4; }
.brownish-5 { background-color: $brownish-5; }
.brownish-6 { background-color: $brownish-6; }
.brownish-7 { background-color: $brownish-7; }
.brownish-8 { background-color: $brownish-8; }
.brownish-9 { background-color: $brownish-9; }