$greyish-0: hsla(39, 13%, 3%, 1);
$greyish-1: hsla(39, 11%, 9%, 1);
$greyish-2: hsla(39, 8%, 19%, 1);
$greyish-3: hsla(39, 5%, 26%, 1);
$greyish-4: hsla(39, 5%, 35%, 1);
$greyish-5: hsla(39, 5%, 51%, 1);
$greyish-6: hsla(39, 5%, 64%, 1);
$greyish-7: hsla(39, 9%, 75%, 1);
$greyish-8: hsla(39, 12%, 92%, 1);
$greyish-9: hsla(39, 14%, 97%, 1);

$brownish-0: hsla(39, 70%, 3%, 1);
$brownish-1: hsla(39, 50%, 9%, 1);
$brownish-2: hsla(39, 30%, 19%, 1);
$brownish-3: hsla(39, 20%, 26%, 1);
$brownish-4: hsla(39, 20%, 35%, 1);
$brownish-5: hsla(39, 20%, 51%, 1);
$brownish-6: hsla(39, 20%, 64%, 1);
$brownish-7: hsla(39, 25%, 75%, 1);
$brownish-8: hsla(39, 30%, 92%, 1);
$brownish-9: hsla(39, 40%, 97%, 1);