$chart-background-color: $greyish-8;

@media (max-width: $screen-xs-max) {
    .d3-tip.time-schedule { font-size: 12px; }
}

figure {
    .inset {
        padding: 30px;
        margin:10px 0;
        border-radius: 6px;
        background-color: $chart-background-color;
        box-shadow: inset 1px 1px 1px $greyish-6;
        border-width: 0 1px 1px 0;
        border-color: $greyish-7;
        border-style: solid;

        @media (max-width: $screen-xs) {
            margin-left: ($grid-gutter-width / -2);
              margin-right: ($grid-gutter-width / -2);
              padding-left: ($grid-gutter-width / 2);
              padding-right: ($grid-gutter-width / 2);
              box-shadow: inset 0px 1px 1px $greyish-6;
              border-width: 0 0 1px 0;
              border-radius: 0;
        }
    }
}


svg.timeline {
    rect.background { fill: $chart-background-color; }
    g.axis path { display: none; }
    g.tick line { stroke: $greyish-9; stroke-width: 2px; } // Grid
    g.axis text { font-size:110%; font-weight:bold; fill: $greyish-2; }

    g.rowLabels text { fill: $greyish-3; font-weight: bold; }

    g.lines path { stroke: $greyish-2; stroke-width: 4px; }
    g.lines path.substitute { stroke-dasharray: 5, 3; }
    g.lines path.passive { stroke: $greyish-3; stroke-width: 2px; stroke-dasharray: 2, 2; }
    g.lines circle { stroke: $greyish-2; fill: $greyish-9; stroke-width: 2px; }
}

.party-history {
	.tooltip p {
		font-size: 16px;
		font-weight: 700;
		margin: 0 0 5px;
	}

    line.election {
        stroke-width: 4px;
    }
    line.election.selected {
        stroke-width: 8px;

    }
    path.poll {
        stroke-width: 2px;
    }
    circle.poll {
        stroke-width: 0;
    }


    line.vertical-picker {
        stroke-width: 3px;
        stroke: $greyish-2;
        stroke-opacity: 50%;
    }
     
    circle.poll.selected {
        stroke-width: 8;
    }

    rect.party-leader.even {
        fill-opacity: 25%;
    }

    rect.party-leader.odd {
        fill-opacity: 45%;
    }

    ul.legend {
        list-style-type: none;
        text-align: center;
        li {
            display: inline-block;
            margin: 2px 20px 2px 0;
            * {
                vertical-align: middle;
            }
        }
    }
}


.d3-tip {
    line-height: 1.2;
    padding: 10px;
    background: fade-out($greyish-2, 0.07);
    color: $greyish-9;
    border-radius: 5px;
    pointer-events: none;
    max-width:50%;
}