a.member_node circle{
  stroke: black;
  stroke-width: 1px;
}

a.member_node circle:hover, a.taphover.hover circle {
  stroke-width: 2px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

#parliament-figure div.col{
  @extend .col-xs-12;
  // @extend .col-xs-offset-1;
}

#parliament-date-slider div.col {
  @extend .col-xs-12;
  // @extend .col-xs-offset-1;

  padding-top: 2%;
  padding-left: 30px;
  padding-right: 40px;

}

div.row.figure-description div.col{
  @extend .col-xs-12;
  // @extend .col-xs-offset-1;
  text-align: justify;
}

div.row.figure-description {
  padding-top: 10px;
  padding-bottom: 10px;
}

.member-node-tooltip {
  position: absolute;
  width: 100px;
  top: 0;
  box-sizing: border-box;
  line-height: 1;
  font-weight: normal;
  font-size: 12px;
  padding: 12px;
  background: rgb(0, 0, 0);
  color: #fff;
  border-radius: 8px;
  z-index: 99;

  a {
    color: #fff;
  }

  img {
    width: 100%;
    padding-bottom: 5%;
  }

}