span.party-link {
    font-size: $font-size-h3;
    margin-right: 30px;
}

path.map-region {
    // fill: #aaa;
    stroke: #fff;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    // shape-rendering: crispEdges;
}

div.election-tooltip {
    position: absolute;
    top: 0;
    box-sizing: border-box;
    line-height: 1;
    font-weight: normal;
    padding: 12px;
    background: rgb(0, 0, 0);
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
    @include box-shadow(0 1px 5px 0px #444);

    figure {
        margin-top: 7px;
    }
}