span.party-link {
    font-size: $font-size-h3;
    margin-right: 30px;
}

path.map-region {
    // fill: #aaa;
    stroke: #fff;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    // shape-rendering: crispEdges;
}


h1 img.party-logo {
    position: relative;
    top: -10px;
    margin-right: 15px;
}
a.party-logo {
    display: inline-block;
    position: relative;
    img {
        margin: 5px;
        z-index: 1;
    }    
    div {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        background: transparentize($body-bg, 0.8);
    }
}
a.party-logo:hover {
    div {
        background: none;
    }
}

div.election-tooltip {
    position: absolute;
    top: 0;
    box-sizing: border-box;
    line-height: 1;
    font-weight: normal;
    padding: 12px;
    background: rgb(0, 0, 0);
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
    @include box-shadow(0 1px 5px 0px #444);

    figure {
        margin-top: 7px;
    }
}