a.member_node circle{
  stroke: black;
  stroke-width: 1px;
}

a.member_node circle:hover, a.taphover.hover circle {
  stroke-width: 2px;
  opacity: 0.7;
}

#parliament_svg_div {
  @extend .col-xs-10;
  @extend .col-xs-offset-1;
}

#parliament_date_slider {
  @extend .col-xs-10;
  @extend .col-xs-offset-1;

  padding-top: 2%;

}

.member-node-tooltip {
  position: absolute;
  width: 100px;
  top: 0;
  box-sizing: border-box;
  line-height: 1;
  font-weight: normal;
  font-size: 12px;
  padding: 12px;
  background: rgb(0, 0, 0);
  color: #fff;
  border-radius: 8px;

  img {
    width: 100%;
    padding-bottom: 5%;
  }

}