@import "sass/custom-bootstrap-variables";
@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

$logo-font-size: 27px;
$logo-font-size-xs: 22px;

@mixin xs-font-size($xs-size,$default-size) {
  font-size: $default-size;
  @media (max-width: $screen-xs-max) {
    font-size: $xs-size;
  }
}


#navbar {
  @extend .navbar,.navbar-inverse,.navbar-static-top;

  .column.brand-and-menu-toggle {
    @extend .col-sm-6,.col-md-3;

    div:first-child {
      @extend .navbar-header;

      a.brand {
        @extend .navbar-brand,.navbar-left;

        @include xs-font-size($logo-font-size-xs,$logo-font-size);
        padding: 0;
        font-family: 'Roboto Slab',sans-serif;
        font-weight: 700;
        color: white;
        line-height: $navbar-height;

        span.period {
          line-height: 0;
          font-family: 'Open Sans';
          color: orange;
          @include xs-font-size(2 * $logo-font-size-xs, 2 * $logo-font-size);
        }
      }
    }
  }

  .column.menu-search {
    @extend .col-sm-6,.col-md-5,.col-md-push-4;

    div:first-child {
      @extend  .navbar-collapse;
    }

    form {
      @extend .navbar-form,.navbar-right;

      .input-group {
        .input-group-addon {
          span {
            @extend .glyphicon,.glyphicon-search;
          }
        }

        input {
          @extend .form-control;
        }
      }
    }
  }

  .column.menu-links {
    @extend .col-md-4,.col-sm-12,.col-md-pull-5;

    div:first-child {
      @extend  .navbar-collapse;
    }

    .menu-links {
      @extend .nav,.navbar-nav,.navbar-left;
      a {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}

#width-test {
  @extend .container;
  .one-unit {
    @extend .col-xs-1;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
}

#menu-toggle {
  @extend .navbar-toggle;
  @extend .navbar-right;
}