{% extends "parties/base.html" %}
{% block content %}

<div class="row">
    <div class="col-sm-12 col-md-8">
        <h1>Antal samarbetsförslag i riksdagen</h1>
        <p>Ett samarbetsförslag är en förslagspunkt i en motion signerad av ledamöter från två eller fler partier. Mängden samarbetsförslag kan vara en indikation på möjligheterna för partiöverskridande samarbeten för ledamöterna. Du kan själv filtrera datan per utskott med listan nedan. Enskilda motioner är ej medräknade i statistiken.</p>      
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
      <div id="cosigning-filter"></div>        
      <figure>
        <div id="cosigning"></div>        
            <figcaption>Staplarna indikerar hur många samarbetsförslag som behandlades under ett riksmöte. Klicka på en stapel för att visa de vanligaste partikombinationerna.</figcaption>
    </figure>

    </div>
    <div class="col-sm-6 col-md-4">
    <figure>
        <div id="cosigning-detail"></div>        
            <figcaption></figcaption>
    </figure>

    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-8">
        <h1>Vem röstar med vem?</h1>
        <p></p>      
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-5">
        <div id="party-bias"></div>        
    </div>
</div>
    
{% endblock %}
{% block styles %}
<style>

.axis path, .axis line {
  fill: none;
  stroke: #888;
  shape-rendering: crispEdges;
}
.axis text {
    font-size: 11px;
    fill: #888;
}

#cosigning .bar-rect {
  shape-rendering: crispEdges;
}
#cosigning-detail .bar-title {
  font-size: 11px;
  font-weight: normal;
}
.bar-text {
  font-size: 11px;
  font-weight: bold;
}
.title-text {
  font-size: 14px;
}
.click-rect {
  pointer-events: all;
  stroke:none;
  fill:#111;
  fill-opacity: 0.0;
  cursor:pointer;
}

figcaption {
  font-size:12px;
  color: #111;
}

.line-path {
  fill:none;
  stroke-width: 2px;
}
.line-marker {
  fill:#ffffff;
  pointer-events: 'none';
  stroke-width: '2px';
}

</style> 

<style>
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 10px;
  background: rgba(0,0,0, 0.5);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

</style>

{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">

var pageState = demokratikollen.utils.pageState({
  "cosigningActiveCommittee": 0,
  "cosigningActiveBar": null
});

cosigningFigure = function(data) {

  data.committees.forEach(function(c){
    c.series.forEach(function(rm,rm_i){
      rm.sort(function(a,b){return -(a.value-b.value);});
      rm.forEach(function(p){
        p.title = p.abbr;
        p.color = d3.rgb("#879");
      });
    });
  });

  var parent = d3.select("#cosigning");
  var width = parent[0][0].getBoundingClientRect().width,
      height = 200;

  var detailParent = d3.select("#cosigning-detail");
  var detailWidth = detailParent[0][0].getBoundingClientRect().width,
      detailHeight = 500;
  var detailTop = detailParent.append("svg")
      .attr("width",detailWidth)
      .attr("height",detailHeight)
      .style("background-color","#eee");

  var filterParent = d3.select("#cosigning-filter");
  var select = filterParent.append("select").attr("class", "graph-filter form-control input-sm");
  select.attr("id","cosigningFilterSelect");
  var options = select.selectAll("option").data(data.committees);
  options.enter().append("option")      
    .text(prop("name"))
    .attr("value", function(d,i){return i;});
  select.node().value = pageState("cosigningActiveCommittee");

  var top = parent.append("svg")
    .attr("width", width)
    .attr("height", height)
    .style("background-color", "#eee");

  var detailChart = demokratikollen.graphics.horizontalBarChart()
    .width(detailWidth).height(detailHeight);
  var mainChart = demokratikollen.graphics.stackedBarChart()
    .width(width).height(height)
    .onBarActivated(function(d,i){
      detailChart.title("Grupperingar riksmötet " + data.t[i]);
      detailTop.datum(d.slice(0,  15).reverse()).call(detailChart);
      pageState({"cosigningActiveBar": i});
    })
    .currentlyActive(pageState("cosigningActiveBar"));


  select.on("change", function() {
    var i = d3.select(this).property("selectedIndex");

    var series = data.committees[i].series;
    top.datum({bars: series, labels: data.t}).call(mainChart);
    pageState({"cosigningActiveCommittee": i});
    
  });
  select.on("change").apply(select[0][0]); // initial display
};

covotingFigure = function(data) {
  console.log(data);
  var parent = d3.select("#party-bias");

  var width = parent[0][0].getBoundingClientRect().width,
      height = 400;

  var top = parent.append("svg")
    .attr("width", width)
    .attr("height", height)
    .style("background-color", "#eee");

  var mainChart = demokratikollen.graphics.verticalOrdinalLineChart()
    .width(width).height(height);

  top.datum(data).call(mainChart);

};

$(function(){
  
  d3.json('/data/cosigning/timeseries.json', function(err, data){
  if (err) return console.warn(err);
  cosigningFigure(data);
  });

  d3.json('/data/covoting/party_bias_S_M.json', function(err, data){
  if (err) return console.warn(err);
  covotingFigure(data);
  });

});


</script>  

{% endblock %}