{% extends "parties/base.html" %}
{% block content %}
<div class="row">
  <div class="text-col">
  <h1> Partierna </h1>
    <p>På den här sidan visar vi statistik om hur partierna förhåller sig till varandra i riksdagen. Mer information om varje enskilt parti finns på partiets egen sida, som kan nås genom länkarna nedan.</p>
  </div>
</div>

<div class="row">
<div class="col-sm-12">
<a href="/v" class="party-logo">
  <img src="/img/v.png" alt="Vänsterpartiet" /><div></div>
</a>
<a href="/s" class="party-logo">
  <img src="/img/s.png" alt="Socialdemokraterna" /><div></div>
</a>
<a href="/mp" class="party-logo">
  <img src="/img/mp.png" alt="Miljöpartet" /><div></div>
</a>
<a href="/sd" class="party-logo">
  <img src="/img/sd.png" alt="Sverigedemokraterna" /><div></div>
</a>
<a href="/c" class="party-logo">
  <img src="/img/c.png" alt="Centerpartiet" /><div></div>
</a>
<a href="/fp" class="party-logo">
  <img src="/img/fp.png" alt="Folkpartiet" /><div></div>
</a>
<a href="/m" class="party-logo">
  <img src="/img/m.png" alt="Moderaterna" /><div></div>
</a>
<a href="/kd" class="party-logo">
  <img src="/img/kd.png" alt="Kristdemokraterna" /><div></div>
</a>
</div>
</div>
<div class="row">
    <div class="text-col">
        <h2>Vem röstar med vem i kammaren?</h2>
        <p>Den här figuren visar hur partierna förhåller sig till varandra vid voteringar i kammaren.</p>        <p>
           Vi väljer ut två partier och placerar dem längst till vänster och höger i figuren. De definerar skalan i figuren. Vi placerar de övriga partierna på skalan efter vem de oftast håller med i voteringar. Om ett parti lika ofta håller med de båda hamnar det i mitten av figuren.
        </p>
        <p>
        Du kan själv välja vilka två partier som skall bilda skalan med hjälp av listorna under figuren.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-4">
    <figure>
        <div class="inset">
        <div id="party-bias"></div>
        </div>
        </figure>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-4">
        <div id="party-bias-filter"></div>
    </div>
</div>

<div class="row">
    <div class="text-col">
        <h2>Antal samarbetsförslag i riksdagen</h2>
        <p>Ett samarbetsförslag är en förslagspunkt i en motion signerad av ledamöter från två eller fler partier. Mängden samarbetsförslag kan vara en indikation på möjligheterna för partiöverskridande samarbeten för ledamöterna. Du kan själv filtrera datan per utskott med listan nedan. Enskilda motioner är ej medräknade i statistiken.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
      <div id="cosigning-filter"></div>
      <figure>
        <div class="inset">
          <div id="cosigning"></div>
              <figcaption>Staplarna indikerar hur många samarbetsförslag som behandlades under ett riksmöte. Klicka på en stapel för att visa de vanligaste partikombinationerna.</figcaption>
        </div>
    </figure>

    </div>
    <div class="col-sm-6 col-md-4">
    <figure>
      <div class="inset">
        <div id="cosigning-detail"></div>
            <figcaption></figcaption>
      </div>
    </figure>

    </div>
</div>


{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">

var pageState = demokratikollen.utils.pageState({
  "cosigningActiveCommittee": {defaultValue: 0, urlName: "cc"},
  "cosigningActiveBar": {defaultValue: null, urlName: "cb"},
  "covotingActivePartyA": {defaultValue: 1, urlName: "pa"}, // S
  "covotingActivePartyB": {defaultValue: 6, urlName: "pb"} // M
});

cosigningFigure = function(data) {

  data.committees.forEach(function(c){
    c.series.forEach(function(rm,rm_i){
      rm.sort(function(a,b){return -(a.value-b.value);});
      rm.forEach(function(p){
        p.title = p.abbr;
        p.color = d3.rgb("#879");
      });
    });
  });

  var parent = d3.select("#cosigning");
  var width = parent[0][0].getBoundingClientRect().width,
      height = 200;

  var detailParent = d3.select("#cosigning-detail");
  var detailWidth = detailParent[0][0].getBoundingClientRect().width,
      detailHeight = 620;
  var detailTop = detailParent.append("svg")
      .attr("width",detailWidth)
      .attr("height",detailHeight);
      // .style("background-color","#eee");

  var filterParent = d3.select("#cosigning-filter");
  var select = filterParent.append("select").attr("class", "graph-filter form-control input-sm");
  select.attr("id","cosigningFilterSelect");
  var options = select.selectAll("option").data(data.committees);
  options.enter().append("option")
    .text(prop("name"))
    .attr("value", function(d,i){return i;});
  select.node().value = pageState("cosigningActiveCommittee");

  var top = parent.append("svg")
    .attr("width", width)
    .attr("height", height);
    // .style("background-color", "#eee");

  var detailChart = demokratikollen.graphics.horizontalBarChart()
    .width(detailWidth).height(detailHeight).maxAbsoluteBandWidth(50);
  var mainChart = demokratikollen.graphics.stackedBarChart()
    .width(width).height(height)
    .onBarActivated(function(d,i){
      detailChart.title("Samarbetsförslag " + data.t[i]);
      detailTop.datum(d.slice(0,  15).reverse()).call(detailChart);
      pageState({"cosigningActiveBar": i});
    })
    .currentlyActive(pageState("cosigningActiveBar"));


  select.on("change", function() {
    var i = d3.select(this).property("selectedIndex");

    var series = data.committees[i].series;
    top.datum({bars: series, labels: data.t}).call(mainChart);
    pageState({"cosigningActiveCommittee": i});

  });
  select.on("change").apply(select[0][0]); // initial display
};

covotingFigure = function() {
  var parties = [
    {abbr:"V"},
    {abbr:"S"},
    {abbr:"MP"},
    {abbr:"C"},
    {abbr:"FP"},
    {abbr:"KD"},
    {abbr:"M"}
  ];

  var parent = d3.select("#party-bias");

  var width = parent[0][0].getBoundingClientRect().width,
      height = 300;

  var top = parent.append("svg")
    .attr("width", width)
    .attr("height", height);

  var filterParent = d3.select("#party-bias-filter");

  filterParent.attr("align","center");
  var selectA = filterParent.append("select").attr("class", "graph-filter input-sm");
  selectA.style("width", "90px");
  var optionsA = selectA.selectAll("option").data(parties);
  optionsA.enter().append("option")
    .text(prop("abbr"))
    .attr("value", function(d,i){return i;});
  selectA.node().value = pageState("covotingActivePartyA");

  filterParent.append("span").text("vs")
    .style("padding", "5px");

  var selectB = filterParent.append("select").attr("class", "graph-filter input-sm");
  selectB.style("width", "90px");
  var optionsB = selectB.selectAll("option").data(parties);
  optionsB.enter().append("option")
    .text(prop("abbr"))
    .attr("value", function(d,i){return i;});
  selectB.node().value = pageState("covotingActivePartyB");

  var mainChart = demokratikollen.graphics.verticalOrdinalLineChart()
    .width(width).height(height);

  var nodeA = selectA.node();
  var nodeB = selectB.node();

  var update = function() {

    var iA = d3.select(nodeA).property("selectedIndex");
    var iB = d3.select(nodeB).property("selectedIndex");

    var partyA = parties[iA];
    var partyB = parties[iB];

    d3.json('/data/covoting/party_bias_'+partyA.abbr+'_'+partyB.abbr+'.json', function(err, data){

      pageState({"covotingActivePartyA": iA, "covotingActivePartyB": iB});

      if (err) {
        top.selectAll("*").remove();
        return;
      }

      data.series.forEach(function (s){
        s.color = demokratikollen.utils.getPartyColor(s.party_abbr);
        s.title = s.party_abbr;
      });

      top.datum(data).call(mainChart);

    });

  }

  selectA.on("change", update);
  selectB.on("change", update);
  update();

};

$(function(){

  d3.json('/data/cosigning/timeseries.json', function(err, data){
  if (err) return console.warn(err);
  cosigningFigure(data);
  });

  covotingFigure();

});


</script>

{% endblock %}
