{% extends "parties/base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-4">
        <div id="cosigning-filter"></div>        
    </div>

</div>
<div class="row">
    <div class="col-md-4">

      <figure>
        <div id="cosigning"></div>        
            <figcaption>Figure caption tag here</figcaption>
    </figure>

    </div>
    <div class="col-md-4">
    <figure>
        <div id="cosigning-detail"></div>        
            <figcaption>Figure caption tag here</figcaption>
    </figure>

    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div id="party-bias"></div>        
    </div>
</div>
    
{% endblock %}
{% block styles %}
<style>

.axis path, .axis line {
  fill: none;
  stroke: #888;
  shape-rendering: crispEdges;
}
.axis text {
    font-size: 11px;
    fill: #888;
}

#cosigning .bar-rect {
  shape-rendering: crispEdges;
}
#cosigning-detail .bar-text {
  font-size: 11px;
  font-weight: normal;
}
#cosigning .bar-text {
  font-size: 11px;
  font-weight: bold;
}
#cosigning .title-text {
  font-size: 14px;
}
.click-rect {
  pointer-events: all;
  stroke:none;
  fill:#111;
  fill-opacity: 0.0;
  cursor:pointer;
}

path.line {
  fill:none;
  stroke-width: 2px;
}
circle.marker {
  fill:#ffffff;
  pointer-events: 'none';
  stroke-width: '2px';
}

</style> 

<style>
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 10px;
  background: rgba(0,0,0, 0.5);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

</style>

{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">

function prop(p) {
  return function(d) {
    return d[p];
  };
}


demokratikollen.utils.pageState = function(obj) {

  var state = {};
  var orderedKeys = [];
  for (var key in obj) {
    if (obj.hasOwnProperty(key)) {
      state[key] = obj[key];
      orderedKeys.push(key);
    }
  }
  orderedKeys.sort();
  
  // try to read incoming state from URL
  if (location.hash.length > 1) {
    var values = location.hash.substr(1).split("/");
    if (values.length == orderedKeys.length) {
      values.forEach(function(value,i){
        if (value == "") value = null;
        var tryInt = parseInt(value,10);
        if (NaN != tryInt) value = tryInt;

        state[orderedKeys[i]] = value;
      });
    } else {
      console.log("Warning: given pageStatus hash not compatible with state specification.");
    }
  } 

  return function(obj) {

    if (obj.length) {
      var key = obj;
      if (state.hasOwnProperty(key)) return state[key];
    }

    for (var key in obj) {
      if (obj.hasOwnProperty(key) && state.hasOwnProperty(key)) {
        state[key] = obj[key];
      }
    }
    var newHash = orderedKeys.map(function(key){return state[key];}).join("/");
    location.hash = '#'+newHash; 
  };
};

var pageState = demokratikollen.utils.pageState({"cosigningActiveCommittee": 0, "cosigningActiveBar": null});

cosigningData = {{ cosigning_data | tojson | safe }};

cosigningData.committees.forEach(function(c){
  c.series.forEach(function(rm,rm_i){
    rm.sort(function(a,b){return -(a.value-b.value);});
    rm.forEach(function(p){
      p.title = p.abbr;
      p.color = d3.rgb("#879");
    });
  });
});

/*
Horizontal bar chart.

data is a list, each element is an objects describing the bar.
[
  {
    title: "bar 1",
    value: 7,
    color: d3.rgb("#element")
  },
  {
    title: "bar 2",
    value: 9,
    color: d3.rgb("#888")
  }
]
*/
demokratikollen.graphics.horizontalBarChart = function() {
  var width = 400, height = 200;
  var margin = { top: 0, right: 50, bottom: 0, left: 0 };
  var barWidth = 0.3;
  var maxAbsoluteBandWidth = 40;
  var onBarActivated = null;

  function chart(selection) {
    selection.each(function(data){

      var parent = d3.select(this);
      var top = parent.selectAll("g").data([0]);
      top.enter()
        .append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var w = width - margin.left - margin.right;
      var h = Math.min(height, maxAbsoluteBandWidth*data.length) - margin.top - margin.bottom;

      var absoluteBarWidth = barWidth * h/data.length;

      var yScale = d3.scale.ordinal()
          .domain(d3.range(data.length))
          .rangeBands([h,0]);

      var maxValue = d3.max(data, prop("value"));
      var xScale = d3.scale.linear()
          .domain([0, maxValue])
          .range([0,w]);


      var barRects = top.selectAll(".bar-rect")
        .data(data, prop("title"));

      barRects.enter().append("rect").attr("class","bar-rect");

      barRects
        .attr("y",function(d,i){return yScale(i)+0.5*h/data.length;})
        .attr("x",0)
        .attr("width", function(d,i){return xScale(d.value);})
        .attr("height", absoluteBarWidth)
        .style("fill", prop("color"));
    
      barRects.exit()
        .style("fill-opacity",1e-5)
        .remove();

      barTexts = top.selectAll(".bar-text")
        .data(data, prop("title"));

      barTexts.enter().append("text").attr("class","bar-text");

      barTexts
        .text(function(d){return d.title + " ("+d.value+ " förslagspunkt" + (d.value>1 ? "er)" : ")");})
        .attr("x", 0)
        .attr("dy","-0.1em")
        .attr("y", function(d,i){return yScale(i)+0.5*h/data.length;});

      barTexts.exit().remove();

    });// selection.each
  };

 chart.onBarActivated = function(_) {
    if (!arguments.length) return onBarActivated;
    else onBarActivated = _;
    return chart;
 }   
 chart.width = function(_) {
    if (!arguments.length) return width;
    else width = _;
    return chart;
 }   
 chart.height = function(_) {
    if (!arguments.length) return height;
    else height = _;
    return chart;
 }   
 chart.maxAbsoluteBandWidth = function(_) {
    if (!arguments.length) return maxAbsoluteBandWidth;
    else maxAbsoluteBandWidth = _;
    return chart;
 }   

 return chart;
};


/*
Upright stacked bar chart.

data: object x-labels "labels" and bar-data "bars"."
"bars" is a list, each element is a list of objects describing pieces.
{
  labels: ["X-label 1", "X-label 2"],
  bars: 
      [
        [
          {
            title: "bar 1 piece 1",
            value: 7,
            color: d3.rgb("#888")
          },
          {
            title: "bar 1 piece 2",
            value: 9,
            color: d3.rgb("#888")
          }
        ],
        [
          {
            title: "bar 2 piece 1",
            value: 1,
            color: d3.rgb("#888")
          },
          {
            title: "bar 2 piece 2",
            value: 2,
            color: d3.rgb("#888")
          }
        ]  
      ]
}
*/
demokratikollen.graphics.stackedBarChart = function() {
  var width = 400, height = 200;
  var title = "";
  var margin = { top: 50, right: 10, bottom: 50, left: 10 };
  var barWidth = 0.6;
  var maxAbsoluteBandWidth = 50;

  var onBarActivated = null;

  var currentlyActive = null;
  

  function chart(selection) {
    selection.each(function(data){
      data.bars.forEach(function(bar,bar_idx){
        bar.total = d3.sum(bar, prop("value"));
        bar.rectData = [];
        bar.forEach(function(p,i,a){
          var rect = {};
          if (i == 0) {
            rect.y0 = 0;
          } else {
            rect.y0 = bar.rectData[i-1].y1;
          }
          rect.y1 = rect.y0 + p.value;
          rect.x = bar_idx;
          rect.color = p.color;
          rect.title = p.title;
          bar.rectData.push(rect);
        });
      });

      var parent = d3.select(this);
      var top = parent.selectAll("g").data([0]);
      top.enter()
        .append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var w = Math.min(
            width,
            maxAbsoluteBandWidth * data.labels.length
            ) - margin.left - margin.right;
      var h = height - margin.top - margin.bottom;

      var absoluteBarWidth = barWidth * w/data.labels.length;

      var xScale = d3.scale.ordinal()
          .domain(d3.range(data.labels.length))
          .rangeBands([0,w]);

      var xAxis = d3.svg.axis()
          .scale(xScale)
          .tickFormat(function(d) { return data.labels[d]; })
          .orient("bottom");

      var xAxisElement = top.selectAll(".x-axis").data([0]);
      xAxisElement.enter().append("g").attr("class", "axis x-axis");

      xAxisElement
        .attr("transform", "translate(0," + h + ")")
        .call(xAxis)
        .selectAll("text")
          .style("text-anchor", "end")
          .attr("dx", "-.8em")
          .attr("dy", ".15em")
          .attr("transform","rotate(-75)");


      var titleElement = top.selectAll(".title-text").data([0]);
      titleElement.enter().append("text").attr("class", "title-text");
      titleElement
        .text(title)
        .style("text-anchor","middle")
        .attr("x", w/2)
        .attr("y", -margin.top)
        .attr("dy", "1.5em");

      var maxValue = d3.max(data.bars, prop("total"));
      var yScale = d3.scale.linear()
          .domain([0, maxValue])
          .range([h,0]);

      var barGroups = top.selectAll(".bar-group").data(data.bars);
      barGroups.enter()
        .append("g").attr("class", "bar-group")
          .append("text").attr("class","bar-text");

      barGroups.exit().remove();

      var barRects = barGroups.selectAll(".bar-rect")
        .data(prop("rectData"),function(d){return d.title;});

      barRects.enter().append("rect").attr("class","bar-rect");

      barRects
        .attr("x",function(d){return xScale(d.x)+0.5*(xScale(1)-absoluteBarWidth);})
        .attr("y",function(d){return yScale(d.y1);})
        .attr("height", function(d,i){return yScale(d.y0)-yScale(d.y1);})
        .attr("width", absoluteBarWidth)
        .style("fill", prop("color"));
    
      barRects.exit()
        .style("fill-opacity",1e-5)
        .remove();

      var barTexts = barGroups.select(".bar-text");
      barTexts
        .text(prop("total"))
        .style("text-anchor","middle")
        .attr("x", function(d,i){return xScale(i)+0.5*(xScale(1));})
        .attr("y", function(d){return yScale(d.total)})
        .attr("dy","-0.1em");


      var clickRects = top.selectAll(".click-rect").data(data.bars);

      function activateBar(i) {
        var d = data.bars[i];
        if (currentlyActive != null) {
          d3.select(clickRects[0][currentlyActive]).style("fill-opacity","");
        }
        d3.select(clickRects[0][i]).style("fill-opacity",0.3);
        if (onBarActivated) onBarActivated(d,i);
        currentlyActive = i;
      };
      function deActivateBar(i) {
        var d = data.bars[i];
        if (currentlyActive != null) {
          d3.select(clickRects[0][currentlyActive]).style("fill-opacity","");
        }
        currentlyActive = null;
      };

      clickRects.enter().append("rect").attr("class", "click-rect");

      clickRects
        .attr("x", function(d,i){return xScale(i);})
        .attr("y", yScale(maxValue))
        .attr("width", xScale(1))
        .attr("height",h+margin.bottom)
        .on("mouseover",function(d,i){
          if (currentlyActive == i) return;
          d3.select(this).style("fill-opacity",0.2);
        })
        .on("mouseout",function(d,i){
          if (currentlyActive == i) return;
          d3.select(this).style("fill-opacity","");
        })
        .on("click",function(d,i){
          if (currentlyActive == i) return;
          deActivateBar(currentlyActive);
          activateBar(i);
        });

      // reactivate selection when updating data
      if (currentlyActive != null) activateBar(currentlyActive); 
    });
  };

 chart.onBarActivated = function(_) {
    if (!arguments.length) return onBarActivated;
    else onBarActivated = _;
    return chart;
 }   
 chart.width = function(_) {
    if (!arguments.length) return width;
    else width = +_;
    return chart;
 }   
 chart.height = function(_) {
    if (!arguments.length) return height;
    else height = +_;
    return chart;
 }   
 chart.maxAbsoluteBandWidth = function(_) {
    if (!arguments.length) return maxAbsoluteBandWidth;
    else maxAbsoluteBandWidth = +_;
    return chart;
 }   
 chart.currentlyActive = function(_) {
    if (!arguments.length) return currentlyActive;
    else currentlyActive = _;
    return chart;
 } 
 chart.title = function(_) {
    if (!arguments.length) return title;
    else title = _;
    return chart;
 } 

 return chart;
};

cosigningFigure = function(data) {

  var parent = d3.select("#cosigning");
  var width = parent[0][0].getBoundingClientRect().width,
      height = 200;

  var detailParent = d3.select("#cosigning-detail");
  var detailWidth = detailParent[0][0].getBoundingClientRect().width,
      detailHeight = 400;
  var detailTop = detailParent.append("svg")
      .attr("width",detailWidth)
      .attr("height",detailHeight)
      .style("background-color","#eee");

  var filterParent = d3.select("#cosigning-filter");

  var select = filterParent.append("select").attr("class", "graph-filter");
  var options = select.selectAll("option").data(data.committees);
  options.enter().append("option")      
    .text(prop("name"))
    .attr("value", function(d,i){return i;});
  select.node().value = pageState("cosigningActiveCommittee");

  var top = parent.append("svg")
    .attr("width", width)
    .attr("height", height)
    .style("background-color", "#eee");

  var detailChart = demokratikollen.graphics.horizontalBarChart()
    .width(detailWidth).height(detailHeight);
  var mainChart = demokratikollen.graphics.stackedBarChart()
    .width(width).height(height)
    .onBarActivated(function(d,i){
      detailTop.datum(d.slice(0,  15).reverse()).call(detailChart);
      pageState({"cosigningActiveBar": i});
    })
    .currentlyActive(pageState("cosigningActiveBar"));


  select.on("change", function() {
    var i = d3.select(this).property("selectedIndex");

    var series = data.committees[i].series;

    mainChart.title("Antal samsignerade förslag i " + data.committees[i].name.toLowerCase());
    top.datum({bars: series, labels: data.t}).call(mainChart);
    pageState({"cosigningActiveCommittee": i});
    
  });
  select.on("change").apply(select[0][0]); // initial display
}


$(cosigningFigure(cosigningData));   


party_bias = {
    setup: function(){

        yticklabels = {{ party_bias_yticklabels | tojson | safe }};
        parties = {{ party_bias_parties | tojson | safe}};

        partyColors = {"S": "#ED1B34", "M": "#52BDEC", "SD": "#FBC700", 
                      "MP": "#53A045", "C": "#016A3A", "V": "#D9291C",
                      "FP": "#004B92", "KD": "#073192"};

        var margin = {top: 20, right: 20, bottom: 30, left: 60},
            width = 300 - margin.left - margin.right,
            height =400 - margin.top - margin.bottom;

        var svg = d3.select("#party-bias").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        var x = d3.scale.linear()
            .domain([-1.1,1.1])
            .range([0, width]);

        var y = d3.scale.ordinal()
            .domain(d3.range(yticklabels.length))
            .rangePoints([height, 0]);

        var yAxis = d3.svg.axis()
            .scale(y)
            .tickFormat(function(d, i) { return yticklabels[d]; })
            .orient("left");

        var line = d3.svg.line()
            .x(function(d,i) { return x(d[1]); })
            .y(function(d,i) { return y(d[0]); })
            .defined(function(d,i) { return !isNaN(d[1]); });

        var paths = svg.selectAll( "path" )
          .data(parties);

        paths.enter().append("path");

        paths
          .classed({"line":true})
          .style("stroke", function(d){return partyColors[d.abbr];})
          .attr("d", function(d){return line(d.data);});


        var marker_groups = svg.selectAll(".marker-group")
          .data(parties);

        marker_groups.enter().append("g");

        marker_groups
          .classed({"marker-group":true});

        var markers = marker_groups.selectAll("circle")
          .data(function(d){return d.data.filter(function(x){return !isNaN(x[1]);})});

        markers.enter().append("circle");

        markers
          .classed({"marker":true})
          .attr("cx", line.x())
          .attr("cy", line.y())
          .attr('r', 4)
          .style('stroke', function(d){return partyColors[this.parentNode.__data__.abbr];});

        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis);
        
        return this;
    } // setup
}

$(party_bias.setup());
</script>  

{% endblock %}