{% extends "parties/base.html" %}

{% block styles %}
{{ super() }}
<style>
/*.municipality {
    fill: #ddd;
    stroke: #fff;
    stroke-width: 0.2px;
    stroke-linejoin: round;
    stroke-linecap: round;
}*/
</style>
{% endblock %}

{% block content %}
        <h1>{{ party.name }}</h1>
        <div class="row">
          <div id='election-map' class='col-md-6 col-xs-12'></div>
        </div>
 <!--    <svg id='election-map' class='canvas'></svg> -->
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  d3.json('/parties/election/2014/{{ party.abbr }}.json',function(error,data) {
    if(error) console.warn(error);
    parties.setup('#election-map',data);
  });




  function newData() {
    var data2 = [{id: "1380", color: "green"}];
    parties.updateMap(data2);
  }

</script>
{% endblock %}