{% extends "parties/base.html" %}

{% block styles %}
{{ super() }}
<style>
/*.municipality {
    fill: #ddd;
    stroke: #fff;
    stroke-width: 0.2px;
    stroke-linejoin: round;
    stroke-linecap: round;
}*/
</style>
{% endblock %}

{% block content %}
        <div id='election-map'></div>
 <!--    <svg id='election-map' class='canvas'></svg> -->
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
  var data = [{id: "1884", color: "pink"},{id: "1861", color: "blue"}];
  $(parties.setup('#election-map',data))
</script>
{% endblock %}