{% extends "parties/base.html" %}

{% block styles %}
{{ super() }}
<style>
rect {
  fill: #ddd;
}

.axis path,
.axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 10px;
  fill: #eee;
}
/*
.x.axis path {
  display: none;
}
*/
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


.axis path, .axis line {
  fill: none;
  stroke: #888;
  shape-rendering: crispEdges;
}
.axis text {
    font-size: 11px;
    fill: #888;
}

.bar-text {
  font-size: 11px;
  font-weight: bold;
}
.title-text {
  font-size: 14px;
}
.click-rect {
  pointer-events: all;
  stroke:none;
  fill:#111;
  fill-opacity: 0.0;
  cursor:pointer;
}

figcaption {
  font-size:12px;
  color: #111;
}

.line-path {
  fill:none;
  stroke-width: 2px;
}
.line-marker {
  fill:#ffffff;
  pointer-events: 'none';
  stroke-width: '2px';
}

</style>
{% endblock %}

{% block content %}
        <h1>{{ party.name }}</h1>
        <div class="row">
        <figure>
        <div class="inset">
          <div id="party-history-fig"></div>
        </div>
        </figure>
        </div>
        <div class="row">
          <div class='col-sm-5 col-md-3'>
            <h2>Stöd i landet</h2>
            <p>Valresultat för {{ party.name.split()[0] }} i Sveriges kommuner i valet 2014.</p>
            <figure>
              <div id='election-map'></div>
              <figcaption style="width:80%">För muspekaren över eller tryck på kartan för att se historiken i en kommun.</figcaption>
            </figure>
          </div>
          <!-- <div id='municipality-timeseries' class='col-md-6 col-xs-12'></div> -->
          <div class='col-sm-7 col-md-9'>
            <h2>Väljarsympatier</h2>
            <p>
              Figurerna nedan visar det stöd som {{ party.name.split()[0] }} fått i Statistiska Centralbyråns undersökning av "bästa parti".
            </p>
            <div class='row'>
              <div class='col-sm-12 col-md-6'>
                <figure>
                  <h3>Indelat efter kön</h3>
                  <div class='inset'>
                    <div id='voter-support-gender'></div>
                  </div>
                  <!-- <figcaption>Könstillhörighet.</figcaption> -->
                </figure>
              </div>
              <div class='col-sm-12 col-md-6'>
                <figure>
                  <h3>Indelat efter utbildning</h3>
                  <div class='inset'>
                    <div id='voter-support-education'></div>
                  </div>
                 <!--  <figcaption>Utbildningsnivå.</figcaption> -->
                </figure>
              </div>
            </div>
          </div>
        </div>
 <!--    <svg id='election-map' class='canvas'></svg> -->
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
$(function(){
  d3.json("{{ url_for('elections.election', year='2014', abbr=party.abbr|lower) }}",function(error,data) {
    if(error) console.warn(error);
    parties.setup('#election-map',data,"{{ party.abbr|lower }}","2014");
  });


  d3.json("/data/statistics/best_party/latest/gender/{{party.abbr|lower}}.json",function(error,data) {
    if(error) console.warn(error);
    var c = demokratikollen.utils.getPartyColor('{{ party.abbr|lower }}'),
        keyOrder = ["Kvinnor","Män"];
    var chartData = [];

    keyOrder.forEach(function(d) {
      if(isNaN(parseFloat(data[d]))) return;
      chartData.push({
        title: d,
        value: Math.round(parseFloat(data[d])*1000+0.00001)/10,
        color: c
      })
    })

    var parent = d3.select('#voter-support-gender');

    var width = parent[0][0].getBoundingClientRect().width,
        height = 80;

    parties.setupGenderChart(width,height);

    parent.append("svg")
        .attr("height", height)
        .attr("width", width)
        .datum(chartData)
        .call(parties.voterSupportGenderChart);
  });

  d3.json("/data/statistics/best_party/latest/education/{{party.abbr|lower}}.json",function(error,data) {
    if(error) console.warn(error);
    var c = demokratikollen.utils.getPartyColor('{{ party.abbr|lower }}'),
        keyOrder = [
          {orig:"Förgymnasial utbildning",show:"Förgymnasial"},
          {orig:"Gymnasial utbildning",show:"Gymnasial"},
          {orig:"Eftergymnasial utbildning mindre än 3 år",show:"Eftergymnasial < 3 år"},
          {orig:"Eftergymnasial utbildning 3 år eller mer",show:"Eftergymnasial 3+ år"},
          {orig:"Okänd utbildning",show:"Okänd"}
        ];
    var chartData = [];

    keyOrder.forEach(function(d) {
      if(isNaN(parseFloat(data[d.orig]))) return;
      chartData.push({
        title: d.show,
        value: Math.round(parseFloat(data[d.orig])*1000+0.00001)/10,
        color: c
      });
    });

    var parent = d3.select("#voter-support-education");

    var width = parent[0][0].getBoundingClientRect().width,
        height = 150;

    parties.setupEducationChart(width,height);

    var top = parent.append("svg")
      .attr("width", width)
      .attr("height", height)
      .datum(chartData)
      .call(parties.voterSupportEducationChart);
  });
});
</script>
<script type="text/javascript">
  electionData = [
    {start: '2002-09-20T00:00:00', end: '2006-09-20T00:00:00', value: 108 / 349},
    {start: '2006-09-20T00:00:00', end: '2010-09-20T00:00:00', value: 100 / 349},
    {start: '2010-09-20T00:00:00', end: '2014-09-20T00:00:00', value: 70 / 349}]

  pollData = [
    {time: '2002-01-01T00:00:00', value: 0.34},
    {time: '2002-07-01T00:00:00', value: 0.33},
    {time: '2003-01-01T00:00:00', value: 0.31},
    {time: '2003-07-01T00:00:00', value: 0.33},
    {time: '2004-01-01T00:00:00', value: 0.30},
    {time: '2004-07-01T00:00:00', value: 0.27},
    {time: '2005-01-01T00:00:00', value: 0.26},
    {time: '2005-07-01T00:00:00', value: 0.29},
    {time: '2006-01-01T00:00:00', value: 0.29},
    {time: '2006-07-01T00:00:00', value: 0.28},
    {time: '2007-01-01T00:00:00', value: 0.29},
    {time: '2007-07-01T00:00:00', value: 0.26},
    {time: '2008-01-01T00:00:00', value: 0.23},
    {time: '2008-07-01T00:00:00', value: 0.25},
    {time: '2009-01-01T00:00:00', value: 0.24},
    {time: '2009-07-01T00:00:00', value: 0.22},
    {time: '2010-01-01T00:00:00', value: 0.21},
    {time: '2010-07-01T00:00:00', value: 0.23}
    ];

  partyLeaderData = [
    {start: '2002-01-01T00:00:00', end: '2004-06-01T00:00:00', name: "Åsa Jinder"},
    {start: '2004-07-01T00:00:00', end: '2006-07-01T00:00:00', name: "Horace Engdahl"},
    {start: '2006-07-01T00:00:00', end: '2008-07-01T00:00:00', name: "Per Morberg"},
    {start: '2010-07-01T00:00:00', end: '2018-07-01T00:00:00', name: "Darth Vader"},
  ]

  var data = {
    polls: pollData,
    partyLeaders: partyLeaderData,
    terms: electionData
  }

  data.partyLeaders.concat(data.terms).forEach(function (d) { 
    d.start = new Date(d.start);
    d.end = new Date(d.end);
  });

  data.polls.forEach(function (d) {
    d.time = new Date(d.time);
  });

  console.log(data);

  partyHistoryChart = demokratikollen.graphics.PartyHistory();

  d3.select("#party-history-fig")
    .datum(data)
    .call(partyHistoryChart);

</script>
{% endblock %}