{% extends "layout.html" %}
{% set heading = "Sök ledamöter" %}
{% set header_members_class = "active" %}
{% block title %}{{ heading }}{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-md-5">
        <h1>{{ heading }}</h1>
        <form method="get" action="{{ url_for('members.find') }}" role="form">
          <div class="form-group">
            {{ form.terms(class_="form-control",placeholder=form.terms.description)|safe }}
          </div>
          <p><button type="submit" class="btn btn-default">Hitta ledamöter</button></p>
        </form>
      </div>
      <div class="col-md-7">
        {% with messages = get_flashed_messages() %}
        {% if messages -%}
        {% for m in messages -%}
        <div class="alert {{ m.class }}" role="alert">
          {% if m.title %}<strong>{{ m.title }}</strong> {% endif %}{{ m.text }}
        </div>
        {%- endfor %}
        {%- endif %}
        {% endwith %}
        {% if members -%}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Namn</th>
              <th>Parti</th>
            </tr>
          </thead>
          <tbody>
            {% for m in members -%}
            <tr>
              <td><a href="/members/{{ m.id }}.html">{{ m.id }}</a></td>
              <td>{{ m.first_name }} {{ m.last_name }}</td>
              <td>{{ m.party.abbr }}</td>
            </tr>
            {%- endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
    </div>
{% endblock %}