{% extends "parliament/base.html" %}

{% block head %}
{{ super() }}

<style>

svg#parliament_svg line {
  stroke: black;
  stroke-width: 8px;
}

svg#parliament_svg circle{
  stroke: black;
  stroke-width: 8px;
  fill: none;
}

g.member_node circle{
  stroke: black;
  stroke-width: 1px;
}

</style>

<link href="{{ url_for('static', filename='css/jquery-ui-slider-pips.css') }}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

{% endblock %}

{% block content %}
    <div class="container">
      <svg id="parliament_svg" class='canvas' viewBox='0 0 1140 600' preserveAspectRatio="xMinYMin meet"></svg>
      <div id="date_slider"></div>
      <div id="parliament_mode_switcher">
        <button id="parliament_button">Riksdagen</button><button id="gender_button">Könsfördelning</button>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-slider-pips.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/parliament.js') }}"></script>
{% endblock %}