{% extends "parliament/base.html" %}

{% block content %}
<div class="row figure-description">
  <div class="text-col">
  	<h2>Mandatfördelning i Sveriges riksdag</h2>
  	<h3>Klicka på ledamöterna för att komma vidare</h3>
  </div>
</div>
<div class="row" id="parliament-figure">
  <div class="col-md-10">
    <figure>
      <div class="inset">
        <div class="row">     
    		  <figure class="canvas"></figure> 
        </div>
        <div id="parliament-date-slider" class="row">
          <div class="col">
            <div class="date_slider"></div>
          </div>
        </div>
      </div>
    </figure>
  </div>
</div>
    

<div class="row figure-description">
  	<div class="text-col">
  		<h3>Vad betyder en grå ledamot?</h3>
  		<p>      
  		När man går bakåt i tiden i figuren här ovanför kan det bli fel parti på vissa ledamöter. Detta beror på att Riksdagens öppna data endast innehåller information om ledamöternas nuvarande partitillhörighet. Om du väljer en historisk tidpunkt visas därför alla ledamöter med färgen för det parti de tillhör idag. Detta gör att den historiska mandatfördelningen kan ha sett något annorlunda ut än vad som visas i figuren. Cirklar med grå färg är ledamöter som har lämnat sitt parti och inte suttit i riksdagen för ett annat parti sedan dess.
  		</p>
  	</div>
  </div>

</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
      parliamentChairs.Setup("{{ latest_chamber_apointment_date }}");
    </script>
{%- endblock %}