{% extends "parliament/base.html" %}

{% block head %}
{{ super() }}

<style>

svg#gender_svg line {
  stroke: black;
  stroke-width: 8px;
}

svg#gender_svg circle{
  stroke: black;
  stroke-width: 8px;
  fill: none;
}

g.member_node circle{
  stroke: black;
  stroke-width: 1px;
}

</style>

<link href="{{ url_for('static', filename='css/jquery-ui-slider-pips.css') }}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

{% endblock %}

{% block content %}
    <div class="container" id="gender_div">
      <svg id="gender_svg" class='canvas' viewBox='0 0 1140 600' preserveAspectRatio="xMinYMin meet"></svg>
      <div id="date_slider"></div>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-slider-pips.min.js') }}"></script>
<script type="text/javascript">

RD = {
  Setup: function() {
    RD.DrawGenderSymbols();
    RD.FetchGenderData();

    var date = new Date();
    s_today = date.getTime()/1000;


    var date_slider = $( "#date_slider" ).slider({
      value: s_today,
      min: s_today - 3600*24*365*30,
      max: s_today,
      step: 3600*24*365,
      slide: RD.UpdateFromSlider,
      change: RD.UpdateFromSlider
    });
    date_slider.slider("float", 
      { formatLabel: function(value) {
        date = new Date();
        date.setTime(value*1000);
        return date.toLocaleDateString();
    }});

  },
  DrawGenderSymbols: function() {
    var canvas = d3.select('svg#gender_svg');

    var padding = RD.max_width - 4* RD.gender_radius;
    var middle_padding = 2/3*padding;
    var outer_padding = (padding - middle_padding)/2;

    var female_g = canvas
                .append('g')
                .attr("id", "female")
                .attr('transform', "translate(" + (RD.gender_radius + outer_padding)
                                                + ","
                                                + (RD.gender_radius + 10)
                                                + ")");
    RD.female_circle = female_g;

    var male_g = canvas
                .append('g')
                .attr('id', 'male')
                .attr('transform', 'translate(' + (outer_padding + 2*RD.gender_radius + middle_padding + RD.gender_radius)
                                                + ','
                                                + (RD.gender_radius + 50)
                                                + ')');
    RD.male_circle = male_g;
    

    var symbol_length = 0.5*RD.gender_radius;

    female_g.append("circle").attr("r", RD.gender_radius);
    female_g.append('line').attr('x1',0)
                           .attr('x2',0)
                           .attr('y1',RD.gender_radius)
                           .attr('y2',RD.gender_radius+symbol_length);
    female_g.append('line').attr('x1',-symbol_length/2)
                           .attr('x2',symbol_length/2)
                           .attr('y1',RD.gender_radius+symbol_length/2)
                           .attr('y2',RD.gender_radius+symbol_length/2);

    var trig45 = 0.70710678118
    male_g.append('circle').attr('r', RD.gender_radius);
    male_g.append('line').attr('x1',trig45*RD.gender_radius)
                         .attr('x2',trig45*(RD.gender_radius+symbol_length))
                         .attr('y1',-trig45*RD.gender_radius)
                         .attr('y2',-trig45*(RD.gender_radius + symbol_length));

    male_g.append('line').attr('x1',trig45*(RD.gender_radius+symbol_length))
                         .attr('x2',trig45*(RD.gender_radius+symbol_length)-symbol_length/2)
                         .attr('y1',-trig45*(RD.gender_radius+symbol_length))
                         .attr('y2',-trig45*(RD.gender_radius+symbol_length));

    male_g.append('line').attr('x1',trig45*(RD.gender_radius+symbol_length))
                         .attr('x2',trig45*(RD.gender_radius+symbol_length))
                         .attr('y1',-trig45*(RD.gender_radius+symbol_length)-RD.stroke_width/2)
                         .attr('y2',-trig45*(RD.gender_radius+symbol_length)+symbol_length/2);
  },
  UpdateFromSlider: function() {

    date_seconds = $("#date_slider").slider("value");
    date = new Date();
    date.setTime(date_seconds*1000);

    RD.FetchGenderData(date.toLocaleDateString(),'');

  },
  FetchGenderData: function(date, party) {

      date = typeof date !== 'undefined' ? date : '';
      party = typeof party !== 'undefined' ? party : '';

      d3.json("{{ url_for('data.gender_json') }}?party=" + party + "&date=" + date, function(error, root) {

        var male_data = {'name': 'root', 'children': root.data.filter(function (el) { return el.gender === 'man' } )};
        var female_data = {'name': 'root', 'children': root.data.filter(function (el) { return el.gender === 'kvinna' } )};

        RD.DrawGenderCircles('kvinna', root.statistics.n_females, female_data);
        RD.DrawGenderCircles('man', root.statistics.n_males, male_data);

      });


  },
  DrawGenderCircles: function(gender, number_of_circles, data) {
    
    var padding = 5;
    var circle_radius = 10;
    if (number_of_circles > 200) 
      circle_radius = 8;

    var pack = d3.layout.pack()
          .size([RD.gender_radius, RD.gender_radius])
          .radius(function () { return circle_radius })
          .value(function () {return 1})
          .sort(null)
          .padding(padding);

    var g_object = null;
    if (gender === 'kvinna')
      g_object = d3.select('g#female');
    else
      g_object = d3.select('g#male');

    pack_data = pack.nodes(data).filter(function(d) { return !d.children; });

    var nodes = g_object.selectAll('.member_node')
              .data(pack_data, function (d,i) { return d.member_id })

    //remove elements
    nodes.exit().remove();

    //create new nodes where needed.
    var new_nodes = nodes.enter().append('g')
                                 .attr("class", 'member_node')

    new_nodes.append("title")
      .text(function(d) { return d.member_id });

    new_nodes.append("circle")
        .style("stroke-width",'1px')
        .style("fill", function(d) {return RD.partyColors[d.party]});

    //update the position for all and animate.
    nodes.transition().attr("transform", function(d) { 
                    x = d.x - RD.gender_radius/2;
                    y = d.y - RD.gender_radius/2;
                    return "translate(" + x + "," + y + ")";
                   });
    
    //update the radius of the circle if needed.
    nodes.selectAll('circle').data(pack_data).transition().attr("r", function(d) { return d.r; })

  },
  gender_radius: 220,
  max_width: 1140,
  stroke_width: 8,
  partyColors: {"S": "#ED1B34", "M": "#52BDEC", "SD": "#FBC700", 
                  "MP": "#53A045", "C": "#016A3A", "V": "#D9291C",
                  "FP": "#004B92", "KD": "#073192", "NYD": "#FBC700", "-": "#CCCCCC"}
};
$(RD.Setup)

</script>
{% endblock %}