{% extends "parliament/base.html" %}

{% set title = member.first_name + " " + member.last_name + " (" + member.party.abbr|lower() + ") - Demokratikollen"%}

{% block styles -%}{{ super() }}
{%- endblock %}

{% block content %}
<h1 class="member-name">{{ member.first_name }} {{ member.last_name }} ({{ member.party.abbr|lower() }})</h1>

<div class="row">
  <div class="col-md-4">
    <div class="member-image">
      <img src="{{ member.image_url }}" />
    </div>
  </div>
  <div class="col-md-8">
  <div id="timeline"></div>
  </div>
</div>
{% endblock %}

{% block scripts %}{{ super() }}
    <script type="text/javascript">
    $(function() {
      function dateString(date) { return date.toISOString().slice(0,10); }

      function prepData(data) {
        return data.map(function(d) {
          var r = {},
            appointment = d[0];
            group = d[1];

          r.startDate = new Date(appointment.start_date);
          r.endDate = new Date(appointment.end_date);

          if (appointment.classtype == "speaker_appointment") {
            r.rowLabel = appointment.position;
            r.cssClass = "speaker";
            r.description = appointment.position
          } else if (appointment.classtype == "chamber_appointment") {
            if (appointment.role == "Riksdagsledamot") {
              r.rowLabel = "Riksdagsledamot";
              r.description = r.rowLabel;
              if (appointment.status == "Ledig") {
                r.cssClass = 'passive';
                r.description += " (ledig)"
              }
            } else if (appointment.role == "Ersättare") {
              r.rowLabel = "Ersättare i riksdagen";
              r.description = r.rowLabel;
            } else {
              r.rowLabel = "Riksdagen (" + r.role + ")"
              r.description = r.rowLabel;
            }

          } else if (appointment.classtype == "group_appointment" ||
            appointment.classtype == "ministry_appointment") {
            r.rowLabel = appointment.role + ', ' + group.name;
            r.description = r.rowLabel;
          } else if (appointment.classtype == "committee_appointment") {
            r.rowLabel = group.name;
            r.description = appointment.role + " i " + group.name.toLowerCase();
            if (appointment.role == "Suppleant") { r.cssClass = "substitute"; }
          }

          return r;
        });
      }

      chart = demokratikollen.graphics.AppointmentsTimeline()
        .tipHtml(function(d) {
          return "<p>" + d.description + "</p><p>" + dateString(d.startDate) + " - " + dateString(d.endDate) + "</p>"
        })
        .timeUnit(d3.time.year)
        .tickLabelWidth(50);


      d3.json("/data/member/{{ member.id }}/appointments.json", function(data) {
        console.log(prepData(data))
        timeline = d3.select("#timeline")
        .datum(prepData(data))
        .call(chart)
      });

      d3.select(window).on('resize', function() { timeline.html("").call(chart); }); 
    
    });
    </script>

    <script type="text/javascript">
    $(function() {
      d3.selectAll("div.member-image img").style("border-color", demokratikollen.utils.parties.get("{{ member.party.abbr }}".toLowerCase()).color);
    });
    </script>
{%- endblock %}