{% extends "parliament/base.html" %}

{% block styles -%}{{ super() }}
    <style>
    .line.appointment { stroke:#333; stroke-width:10; stroke-linecap: round; }
    .line.appointment.substitute { stroke:#999; stroke-dasharray: 15 15; }
    .line.appointment.chair { stroke:#111; stroke-width:16; stroke-linecap: square; }
    
    g.tick text { font-size: 16px; }
    g.axis.y path { display: none; }
    </style>
{%- endblock %}

{% block content %}
<div class="row">
  <div class="col-md-9" style="border:1px solid #444;">
  <svg id="timeline_svg" class="canvas" preserveAspectRatio="xMinYMin meet"></svg>
  </div>
</div>
{% endblock %}

{% block scripts %}{{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/member-timeline.js') }}"></script>
    <script type="text/javascript">
    // Load data and render timeline
    var config = {
      width: 940,
      labelWidth: 200,
      lineHeight: 30,
      fontSize: 14
    };
    $(function() {
      d3.json("/data/member/appointments.json", function(data) {
        d3.select("#timeline_svg")
        .datum(data)
        .call(AppointmentsTimeline(config))
      });
    });
    </script>
{%- endblock %}