{% extends "parliament/base.html" %}

{% block styles -%}{{ super() }}
    <style>
    g.labels text { fill: #404040; }
    g.lines path { stroke: #4a473f; stroke-width: 8px; }
    g.axis path { display: none; }
    rect.background { fill: #e7e3da; }
    g.axis.x g.tick line { stroke: #ffffff; }
    </style>
{%- endblock %}

{% block content %}
<div class="row">
  <div class="col-md-9" style="border:1px solid #444;">
  <div id="timeline"></div>
  </div>
</div>
{% endblock %}

{% block scripts %}{{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/appointments-timeline.js') }}"></script>
    <script type="text/javascript">
    $(function() {
      chart = AppointmentsTimeline();

      d3.json("/data/member/appointments.json", function(data) {
        data.forEach(function(d) {
          d.start = new Date(d.start);
          d.end = new Date(d.end);
        })
        timeline = d3.select("#timeline")
        .datum(data)
        .call(chart)
      });

      d3.select(window).on('resize', function() { timeline.html("").call(chart); }); 
    
    });
    </script>
{%- endblock %}