{% extends "base.html" %}
{% set title = "Om - Demokratikollen" %}

{% block content %}
<h2>Om Demokratikollen</h2>
<div class="row">
	<div class="text-col">
		<p>Demokratikollen är politiskt oberoende och utvecklas och drivs ideellt. All information som visas på sidan är baserad på <a href="http://data.riksdagen.se">riksdagens öppna data</a>, samt valresultat och resultat från väljarundersökningar ur SCBs <a href="http://www.scb.se/sv_/Hitta-statistik/Statistik-efter-amne/Demokrati/">demokratistatistik</a>.</p>

		<p>Skicka gärna förslag och synpunkter till <a href="mailto:synpunkter@demokratikollen.se">synpunkter@demokratikollen.se</a>!</p>
	</div>
</div>



{% endblock %}