{% extends "base.html" %}
{% set title = "Om - Demokratikollen" %}

{% block content %}
<p>Demokratikollen utvecklas på fritiden av ett fåtal personer som ett sätt att lära sig mer om hur sveriges riksdag fungerar. All information som visas på denna sidan är baserad på <a href="http://data.riksdagen.se">riksdagens öppna data</a>, samt data från senaste valet från SCB(länk).</p>


<p>Förslag och synpunkter mottages tacksamt till <a href="mailto:synpunkter@demokratikollen.se">synpunkter@demokratikollen.se</a>. </p>

{% endblock %}