<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>Demokratikollen - {% block title %}{% endblock %}</title>

    <link href="{{ url_for('static', filename='css/nv.d3.css') }}" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}" rel="stylesheet">


    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nv.d3.min.js') }}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
   {% endblock %}
  </head>

  <body>


    <div class="container">
      <div class="header">
       {% block header %}
        <ul class="nav nav-pills pull-right">
          <li class="{{header_home_class}}"><a href="/">Hem</a></li>
          <li class="{{header_members_class}}"><a href="{{ url_for('members.members') }}">Members</a></li>

          <li class="dropdown {{header_figures_class}}">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Figures <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li class="{{header_partipiskan_class}}"><a href="/figures/partipiskan">Partipiskan</a></li>
              <li class="{{header_voteringsfrekvens_class}}"><a href="{{url_for('figures.voteringsfrekvens', format='html')}}">Voteringsfrekvens</a></li>
            </ul>
          </li>

          <li class="{{header_contact_class}}"><a href="#">Kontakt</a></li>
        </ul>
        <h3 class="text-muted">Demokratikollen</h3>
       {% endblock %}
      </div>

      {% block content %}
      {% endblock %}

      <div class="footer">
        {% block footer %}
        <p>&copy; Demokratikollen 2014</p>
        {% endblock %}
      </div>

    </div> <!-- /container -->
    {% block scripts_end %}
    {% endblock %}
  </body>
</html>

