{% extends "base.html" %}
{% set title = "Sekretesspolicy - Demokratikollen" %}

{% block content %}
<div class="row">
  <div class="text-col">
<h1>Sekretesspolicy</h1> 
<p>Demokratikollen använder
cookies för att kunna göra sidan bättre i framtiden. Vi använder oss av två
tredjepartsmjukvaror: Google Analytics och New Relic.</p>

<h3>Google Analytics</h3> 
Google Analytics samlar in data för att
besökstatistik och annonsunderlag för Demokratikollen. För en utförlig
beskrivning av Googles användning av datan samt hur du kan ställa in vilken
information Google samlar in från dig, <a
href="http://www.google.com/policies/privacy/partners/">se deras
partnervillkor</a>.

<h3>New Relic</h3> 
New Relic är en tjänst som framförallt mäter prestandan för
Demokratikollen. Datan är helt anonymiserad och varken New Relic eller
Demokratikollen kan identifiera dig som person. För mer information, <a
href="http://newrelic.com/privacy">se deras egna sekretesspolicy</a>, främst
avsnittet <em>Use of Your Application Data</em>

<h3>Jag vill inte bli förföljd</h3>  
<p>   
Tyvärr kan inte New Relics tjänst
stängas av per användare. Om du inte vill att data skall samlas in från dig
rekommenderar vi att du blockerar cookies från demokratikollen.se . För
instruktioner hur du gör detta, se guiden för din webläsare: </p>
<ul>
<li><a href="https://support.google.com/chrome/answer/95647?hl=sv">Chrome</a> </li>
<li><a href="https://support.mozilla.org/sv/kb/Till%C3%A5t%20eller%20blockera%20kakor">Firefox</a> </li>
<li><a href="http://windows.microsoft.com/sv-se/internet-explorer/delete-manage-cookies">Internet Explorer<a> </li>
<li><a href="http://support.apple.com/kb/PH17191">Safari Mac</a> </li>
<li><a href="http://support.apple.com/sv-se/HT1677">Safari iOS</a> </li>
<li><a href="https://support.google.com/chrome/answer/2392971?hl=sv">Android Chrome</a> </li>


</div>
</div>



{% endblock %}