{% extends "layout.html" %}
{% block title %}Partipiskan{% endblock %}
{% block head %}
  <link href="{{ url_for('static', filename='css/nv.d3.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/nv.d3.min.js') }}"></script>

  {{ super() }}
  <script type="text/javascript">

nv.addGraph(function() {
 
  var chart = nv.models.discreteBarChart()
      .x(function(d) { return d.label })    //Specify the data accessors.
      .y(function(d) { return 100.0*d.value })
      .staggerLabels(false)    //Too many bars and not enough room? Try staggering labels.
      .tooltips(false)        //Don't show tooltips
      .showValues(true)       //...instead, show the bar value right on top of each bar.
      .transitionDuration(350)
      .yDomain([0,13])
      ;
  
  //chart.margin({left:100});

  chart.yAxis    
      .axisLabel('Andel splittrade voteringar (%)')
      .axisLabelDistance(30)
      .tickFormat(d3.format('.02f'));
  
  d3.select('#chart svg')
      .datum(getData())
      .call(chart);

  nv.utils.windowResize(chart.update);

  return chart;
});

function getData(){

  return  [{{ data | tojson | safe }}];

}

  </script>

{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-lg-8">
        <div id="chart" style="position:static; height: 300px"><svg /></div>
      </div>
      <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-heading">Partipiskan</div>
          <div class="panel-body">
            Visar andel av omröstningar där inte alla ledamöter följer partilinjen. Vi ser att partipiskan viner hårdast i högern.
          </div>
        </div>
      </div>
    </div>
{% endblock %}